body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  background-color: #dcedc8;
  color: #111;
}

::selection {
  background-color: #dcedc8;
  color: #111;
  text-decoration-line: none;
}
a:link,
a:visited {
  color: rgb(158, 158, 158);
  text-decoration-line: none;
}

a:hover {
  color: #faf8f8fa;
  text-decoration-line: none;
}
a:active {
  color: rgb(158, 158, 158);

  text-decoration-line: none;
}
