body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
::-moz-selection {
  background-color: #dcedc8;
  color: #111;
}

::selection {
  background-color: #dcedc8;
  color: #111;
}

a:hover {
  color: #faf8f8fa;
}
